# Sentiment Analysis for Customer Reviews Challenge

## Challenge:
Develop a robust Sentiment Analysis classifier for XYZ customer reviews, automating the categorization into positive, negative, or neutral sentiments. Utilize Natural Language Processing (NLP) techniques, exploring different sentiment analysis methods.

## Problem Statement:
XYZ organization, a global online retail giant, accumulates a vast number of customer reviews daily. Extracting sentiments from these reviews offers insights into customer satisfaction, product quality, and market trends. The challenge is to create an effective sentiment analysis model that accurately classifies XYZ customer reviews.

### Important Instructions:

1. Make sure this ipynb file that you have cloned is in the __Project__ folder on the Desktop. The Dataset is also available in the same folder.
2. Ensure that all the cells in the notebook can be executed without any errors.
3. Once the Challenge has been completed, save the SentimentAnalysis.ipynb notebook in the __*Project*__ Folder on the desktop. If the file is not present in that folder, autoevalution will fail.
4. Print the evaluation metrics of the model. 
5. Before you submit the challenge for evaluation, please make sure you have assigned the Accuracy score of the model that was created for evaluation.
6. Assign the Accuracy score obtained for the model created in this challenge to the specified variable in the predefined function *submit_accuracy_score*. The solution is to be written between the comments `# code starts here` and `# code ends here`
7. Please do not make any changes to the variable names and the function name *submit_accuracy_score* as this will be used for automated evaluation of the challenge. Any modification in these names will result in unexpected behaviour.

### --------------------------------------- CHALLENGE CODE STARTS HERE --------------------------------------------

IMPORTING LIBRARIES AND DATA

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

In [12]:
data = pd.read_csv('Reviews.csv')

INITIAL EXPLORATION

In [3]:
data.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [15]:
data.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [16]:
data.dtypes

Id                         int64
ProductId                 object
UserId                    object
ProfileName               object
HelpfulnessNumerator       int64
HelpfulnessDenominator     int64
Score                      int64
Time                       int64
Summary                   object
Text                      object
dtype: object

In [17]:
data.describe()

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
count,568454.000000,568454.000000,568454.00000,568454.000000,5.684540e+05
mean,284227.500000,1.743817,2.22881,4.183199,1.296257e+09
std,164098.679298,7.636513,8.28974,1.310436,4.804331e+07
min,1.000000,0.000000,0.00000,1.000000,9.393408e+08
25%,142114.250000,0.000000,0.00000,4.000000,1.271290e+09
50%,284227.500000,0.000000,1.00000,5.000000,1.311120e+09
75%,426340.750000,2.000000,2.00000,5.000000,1.332720e+09
max,568454.000000,866.000000,923.00000,5.000000,1.351210e+09

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568428 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [19]:
data.isna().any()

Id                        False
ProductId                 False
UserId                    False
ProfileName                True
HelpfulnessNumerator      False
HelpfulnessDenominator    False
Score                     False
Time                      False
Summary                    True
Text                      False
dtype: bool

In [20]:
data.isnull().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               26
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [13]:
data.dropna(inplace=True)
data.isnull().sum()

Id                        0
ProductId                 0
UserId                    0
ProfileName               0
HelpfulnessNumerator      0
HelpfulnessDenominator    0
Score                     0
Time                      0
Summary                   0
Text                      0
dtype: int64

In [5]:
data.describe

<bound method NDFrame.describe of             Id   ProductId          UserId                      ProfileName  \
0            1  B001E4KFG0  A3SGXH7AUHU8GW                       delmartian
1            2  B00813GRG4  A1D87F6ZCVE5NK                           dll pa
2            3  B000LQOCH0   ABXLMWJIXXAIN  Natalia Corres "Natalia Corres"
3            4  B000UA0QIQ  A395BORC6FGVXV                             Karl
4            5  B006K2ZZ7K  A1UQRSCLF8GW1T    Michael D. Bigham "M. Wassir"
...        ...         ...             ...                              ...
568449  568450  B001EO7N10  A28KG5XORO54AY                 Lettie D. Carter
568450  568451  B003S1WTCU  A3I8AFVPEE8KI5                        R. Sawyer
568451  568452  B004I613EE  A121AA1GQV751Z                    pksd "pk_007"
568452  568453  B004I613EE   A3IBEVCTXKNOH          Kathy A. Welch "katwel"
568453  568454  B001LR2CU2  A3LGQPJCZVL9UC                         srfell17

        HelpfulnessNumerator  HelpfulnessDenominator  Score        Time  \
0                          1                       1      5  1303862400
1                          0                       0      1  1346976000
2                          1                       1      4  1219017600
3                          3                       3      2  1307923200
4                          0                       0      5  1350777600
...                      ...                     ...    ...         ...
568449                     0                       0      5  1299628800
568450                     0                       0      2  1331251200
568451                     2                       2      5  1329782400
568452                     1                       1      5  1331596800
568453                     0                       0      5  1338422400

                                   Summary  \
0                    Good Quality Dog Food
1                        Not as Advertised
2                    "Delight" says it all
3                           Cough Medicine
4                              Great taffy
...                                    ...
568449                 Will not do without
568450                        disappointed
568451            Perfect for our maltipoo
568452  Favorite Training and reward treat
568453                         Great Honey

                                                     Text
0       I have bought several of the Vitality canned d...
1       Product arrived labeled as Jumbo Salted Peanut...
2       This is a confection that has been around a fe...
3       If you are looking for the secret ingredient i...
4       Great taffy at a great price.  There was a wid...
...                                                   ...
568449  Great for sesame chicken..this is a good if no...
568450  I'm disappointed with the flavor. The chocolat...
568451  These stars are small, so you can give 10-15 o...
568452  These are the BEST treats for training and rew...
568453  I am very satisfied ,product is as advertised,...

[568401 rows x 10 columns]>

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 568401 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568401 non-null  int64
 1   ProductId               568401 non-null  object
 2   UserId                  568401 non-null  object
 3   ProfileName             568401 non-null  object
 4   HelpfulnessNumerator    568401 non-null  int64
 5   HelpfulnessDenominator  568401 non-null  int64
 6   Score                   568401 non-null  int64
 7   Time                    568401 non-null  int64
 8   Summary                 568401 non-null  object
 9   Text                    568401 non-null  object
dtypes: int64(5), object(5)
memory usage: 47.7+ MB

EXPLORATORY DATA ANALYSIS

In [25]:
data.dtypes

Id                         int64
ProductId                 object
UserId                    object
ProfileName               object
HelpfulnessNumerator       int64
HelpfulnessDenominator     int64
Score                      int64
Time                       int64
Summary                   object
Text                      object
dtype: object

In [14]:
num_cols = data.select_dtypes(include = 'int64').columns
num_cols

Index(['Id', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'Score',
       'Time'],
      dtype='object')

In [15]:
num_data = data[num_cols]
num_data

,Id,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time
0,1,1,1,5,1303862400
1,2,0,0,1,1346976000
2,3,1,1,4,1219017600
3,4,3,3,2,1307923200
4,5,0,0,5,1350777600
...,...,...,...,...,...
568449,568450,0,0,5,1299628800
568450,568451,0,0,2,1331251200
568451,568452,2,2,5,1329782400
568452,568453,1,1,5,1331596800
568453,568454,0,0,5,1338422400

In [46]:
len(num_data['Id'].unique())

568401

In [16]:
num_data = num_data.drop(columns=['Id'])
num_data.head()

   HelpfulnessNumerator  HelpfulnessDenominator  Score        Time
0                     1                       1      5  1303862400
1                     0                       0      1  1346976000
2                     1                       1      4  1219017600
3                     3                       3      2  1307923200
4                     0                       0      5  1350777600

In [53]:

ax = num_data['HelpfulnessNumerator'].sort_index().plot(kind = 'bar',
                                                        title = "Number of Users Who found the Reviews Helpful",
                                                        figsize=(10,5))
ax.set_xlabel('Helpfulness Numerator')
plt.show()

KeyboardInterrupt:

Exception ignored in: <function TransformNode.set_children.<locals>.<lambda> at 0x7f446727fe20>
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/matplotlib/transforms.py", line 198, in <lambda>
    self, lambda _, pop=child._parents.pop, k=id_self: pop(k))
KeyboardInterrupt:

Error in callback <function flush_figures at 0x7f44701d7be0> (for post_execute), with arguments args (),kwargs {}:

KeyboardInterrupt

In [ ]:
ax = num_data['HelpfulnessDenominator'].sort_index().plot(kind = 'bar',
                                                        title = "Number of Users Who voted whether they found Review Helpful or Not",
                                                        figsize=(10,5))
ax.set_xlabel('Helpfulness Denominator')
plt.show()

In [7]:
ax = num_data['Score'].sort_index().plot(kind = 'bar',
                                                        title = "Ratings",
                                                        figsize=(10,5))
ax.set_xlabel('Ratings')
plt.show()

KeyboardInterrupt:

In [17]:
neg_count = 0
pos_count = 0
sent = []
for i in num_data['Score'].values:
    if i<=3:
        neg_count +=1 
        sent.append(0)
    elif i>3:
        pos_count +=1
        sent.append(1)

print("Positive Ratings: ",pos_count)
print("Negative Ratings: ",neg_count)

Positive Ratings:  443756
Negative Ratings:  124645

In [18]:
num_data['Sentiment'] = sent
num_data.head()

   HelpfulnessNumerator  HelpfulnessDenominator  Score        Time  Sentiment
0                     1                       1      5  1303862400          1
1                     0                       0      1  1346976000          0
2                     1                       1      4  1219017600          1
3                     3                       3      2  1307923200          0
4                     0                       0      5  1350777600          1

In [19]:
num_data['Sentiment'].value_counts()

Sentiment
1    443756
0    124645
Name: count, dtype: int64

In [11]:
# sm = SMOTE(random_state=2)
# X_train_sm,y_train_ sm= sm.fit_resample(X_train,Y_train)

#counter = Counter(y_train_sm)

TypeError: could not convert string to float: 'pos'

DATA Has More Positive Ratings

### --------------------------------------- CHALLENGE CODE ENDS HERE --------------------------------------------

### NOTE:
1. Assign the Accuracy score obtained for the model created in this challenge to the specified variable in the predefined function *submit_accuracy_score* below. The solution is to be written between the comments `# code starts here` and `# code ends here`
2. Please do not make any changes to the variable names and the function name *submit_accuracy_score* as this will be used for automated evaluation of the challenge. Any modification in these names will result in unexpected behaviour.

In [22]:
def submit_accuracy_score()-> float:
    #accuracy should be in the range of 0.0 to 1.0
    accuracy = 0.0
    # code starts here
   
    # code ends here
    return accuracy